@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0303;
  --foreground: #110909;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #100f1b;
    --foreground: #241c1c;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
